<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>SHAS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/shas.css" rel="stylesheet">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>

   <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle"
                  data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">SHAS</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                 >Dropdown <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Home</a></li>
                <li class="divider"></li>
                <li><a href="#">New</a></li>
              </ul>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
             <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                ><span class="glyphicon glyphicon-user" />
                 Celso Providelo  <b class="caret"></b>
             </a>
             <ul class="dropdown-menu">
               <li><a href="#">Foo</a>
               <li><a href="#">Bar</a>
               <li><a href="#">Baz</a>
             </ul>
            </li>
          </ul>

        </div><!--/.nav-collapse -->
      </div>
    </div>

    <ul class="breadcrumb">
      <li><a href="#">Home</a></li>
    </ul>

    <div class="container">

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

          <div class="jumbotron">
            <h1>SHAS <small>Simple Home Automation Service</small></h1>
            <p><a class="btn btn-primary btn-lg"
                  role="button">Learn more</a></p>
          </div>

          <div id="devices" class="row">
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
              <div class="thumbnail">
                <img src="static/img/bulb-off.png" class="img-rounded">
                <div class="caption">
                  <h4>Sala de Jantar</h4>
                  <p><small>60 W</small></p>
                  <p class="text-center">
                    <a href="#" class="btn btn-sm btn-primary" role="button">
                      <span class="glyphicon glyphicon-wrench"></span>
                    </a>
                    <a href="#" class="btn btn-sm btn-primary" role="button">
                      <span class="glyphicon glyphicon-list"></span>
                    </a>
                    <a href="#" class="btn btn-sm btn-primary" role="button">
                      <span class="glyphicon glyphicon-home"></span>
                    </a>
                    <a href="#" class="btn btn-sm btn-primary
                                       btn-on-off btn-light"
                       role="button">
                      <span class="glyphicon glyphicon-off"></span>
                    </a>
                  </p>
                </div>
              </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
              <div class="thumbnail">
                <img src="static/img/socket-off.png" class="img-rounded">
                <div class="caption">
                  <h4>Sala de TV</h4>
                  <p><small>40 W</small></p>
                  <p class="text-center">
                    <a href="#" class="btn btn-sm btn-primary" role="button">
                      <span class="glyphicon glyphicon-wrench"></span>
                    </a>
                    <a href="#" class="btn btn-sm btn-primary" role="button">
                      <span class="glyphicon glyphicon-list"></span>
                    </a>
                    <a href="#" class="btn btn-sm btn-primary" role="button">
                      <span class="glyphicon glyphicon-home"></span>
                    </a>
                    <a href="#" class="btn btn-sm btn-primary
                                       btn-on-off btn-socket"
                       role="button">
                      <span class="glyphicon glyphicon-off"></span>
                    </a>
                  </p>
                </div>
              </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
              <div class="thumbnail">
                <img src="static/img/bulb-off.png" class="img-rounded">
                <div class="caption">
                  <h4>Garagem</h4>
                  <p><small>100 W</small></p>
                  <p class="text-center">
                    <a href="#" class="btn btn-sm btn-primary" role="button">
                      <span class="glyphicon glyphicon-wrench"></span>
                    </a>
                    <a href="#" class="btn btn-sm btn-primary" role="button">
                      <span class="glyphicon glyphicon-list"></span>
                    </a>
                    <a href="#" class="btn btn-sm btn-primary" role="button">
                      <span class="glyphicon glyphicon-home"></span>
                    </a>
                    <a href="#" class="btn btn-sm btn-primary
                                       btn-on-off btn-light"
                       role="button">
                      <span class="glyphicon glyphicon-off"></span>
                    </a>
                  </p>
                </div>
              </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
              <div class="thumbnail">
                <img src="static/img/socket-off.png" class="img-rounded">
                <div class="caption">
                  <h4>Cozinha</h4>
                  <p><small>120 W</small></p>
                  <p class="text-center">
                    <a href="#" class="btn btn-sm btn-primary" role="button">
                      <span class="glyphicon glyphicon-wrench"></span>
                    </a>
                    <a href="#" class="btn btn-sm btn-primary" role="button">
                      <span class="glyphicon glyphicon-list"></span>
                    </a>
                    <a href="#" class="btn btn-sm btn-primary" role="button">
                      <span class="glyphicon glyphicon-home"></span>
                    </a>
                    <a href="#" class="btn btn-sm btn-primary
                                       btn-on-off btn-socket"
                       role="button">
                      <span class="glyphicon glyphicon-off"></span>
                    </a>
                  </p>
                </div>
              </div>
            </div>

          </div>

          <div id="messages"></div>

        </div> <!-- Body context -->
      </div> <!-- Body row -->
    </div> <!-- Body container -->

    <script src="static/js/jquery-1.10.2.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/reconnecting-websocket.min.js"></script>

<script type="text/javascript">
$(document).ready(function() {
    var ws = new ReconnectingWebSocket("ws://"+ location.host + "/bus");

    ws.onclose = function(){
        console.log('ws closed!');
        ws = new WebSocket(ws.url);
    };

    ws.onopen = function() {
        // Authenticate ?
        ws.send(JSON.stringify({ action: 'start' }));
    };

    ws.onmessage = function(message) {
       var data = JSON.parse(message.data);
       var klass = "";
       if (data.action == "ON") {
           klass = "panel-info";
       } else {
           klass = "panel-warning";
       }

       $("#messages").append(
           "<div class='panel " + klass + "'>" +
           "<div class='panel-heading'>" +
           $('<span/>').text(data.label).html() +
           "&nbsp;" +
           $('<span/>').text(data.action).html() +
           " on " +
           $('<span/>').text(data.timestamp).html() +
            "</div>"
       );
       $("#messages").stop().animate({
            scrollTop: $('#messages')[0].scrollHeight}, 800);
    };

    $(".btn-on-off").click(function(e) {
        event.preventDefault();
        var img = $(this).parent().parent().parent().children()[0];
        var label = $(this).parent().parent().children()[0].textContent;
        var action = "";
        if ($(this).hasClass("btn-primary")) {
           if ($(this).hasClass("btn-socket")) {
               img.src = "static/img/socket-on.png";
           } else {
               img.src = "static/img/bulb-on.png";
           }
           $(this).removeClass("btn-primary");
           $(this).addClass("btn-default");
           action = "ON";
        } else {
           if ($(this).hasClass("btn-socket")) {
               img.src = "static/img/socket-off.png";
           } else {
               img.src = "static/img/bulb-off.png";
           }
           $(this).addClass("btn-primary");
           $(this).removeClass("btn-default");
           action = "OFF";
        }

        ws.send(JSON.stringify({ label: label, action: action }));
    });

});
</script>


  </body>
</html>
